body {
  background-image: url("../../images/header.jpg");
}

.bgvideo {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -10;
  transition: opacity 2s ease;
  background-image: url("../../images/header.jpg");
}

#nav {
  position: fixed;
  padding: 20px 0;
  z-index: 110;
  background-color: rgba(0,0,0,.7);
  transition: all .5s ease;
}

#header {
  background-image: none;
  height: 95vh;
}
#header #homeinner {
  opacity: 0;
  transition: .2s ease;
}
#header:hover #homeinner {
  opacity: 1;
}

#page-wrapper > section,
#page-wrapper > div.wrapper {
  z-index: 100;
}
#banner {
  background-color: white;
}
section.carousel {
  background-color: lightgrey;
}
div.wrapper {
  background-color: white;
}
div.footer {
  background-color: #2b252c;
}

#map {
  height: 100vh;
}

#getmap div.remodal {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 50;
  background: rgba(255,255,255,.9);
}
#getmap div.remodal > div {
  display: block;
  margin: auto;
  padding: 40px;
  box-sizing: border-box;
  text-align: center;
}

#getmap div.remodal > div button {
  margin: 0 15px;
}

#getmap img {
  display: block;
  width: 70%;
  margin: 20px auto;
}

#carousel #grider {
  display: block;
  width: 620px;
  margin: 0 auto;
}
#carousel #grider > article {
  width: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
}
#carousel #grider > article:nth-child(2n) {
  margin-right: 0;
}

.nohome {
  max-height: 50vh !important;
  min-height: 0 !important;
}
.nopacity {
  opacity: 0;
}
.topfix {
  position: fixed !important;
}
.tophide {
  transform: translateY(-100px);
}
.forceshow {
  opacity: 1 !important;
}
.forcehide {
  display: hidden !important;
}